body{
	 background-image: url("https://upload.wikimedia.org0
		/wikipedia/commons/d/d1/Brick_wall_close-up_view.jpg");
    background-repeat: repeat-x;
	background-repeat: top right;
}
h1 {
	font-style: Fantansy 40px
}
.input-group {
	padding-top: 5px;
}
.details {
	color: #777;
	font-size: 12px;
}
.container {
	padding-top: 15px;
}