body{
	 background:lightblue;
    background-repeat: repeat-x;
	background-repeat: top right;
}
h1 {
	font-style: Fantansy 40px
}
.input-group {
	padding-top: 5px;
}
.details {
	color: #777;
	font-size: 12px;
}
.container {
	padding-top: 15px;
}

