<html>
<tbody>

<table border="1" style="width:100%">
  <tr>
    <td>Name</td>
    <td>Age</td>		
    <td>Sex</td>
    <td>Height</td>
    <td>Photo</td>
  </tr>
  <tr>
    <td>Naruto</td>
    <td>16</td>		
    <td>150</td>
    <td>5'7"</td>
    <td>
      <img scr="https://pmcvariety.files.wordpress.com/2015/07/naruto_movie-lionsgate.jpg?w=670&h=377&crop=1">
    </td>
  </tr>
  <tr>
    <td>Gotenks</td>
    <td>13</td>		
    <td>80</td>
    <td>5'1"</td>
    <td><img scr"http://i.neoseeker.com/mgv/859419/419/103/faggotodpPv.jpg"></td>
  </tr>
  <tr>
    <td>Ichigo</td>
    <td>17</td>   
    <td>170</td>
    <td>6'0"</td>
    <td><img scr"hhttp://img02.deviantart.net/21b0/i/2013/109/0/9/bleach_ichigo_kurosaki_hollow_mask_colored_by_kvequiso-d627zpr.png"></td>
  </tr>




</table>

</tbody>
</html>
